* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  /* overflow: hidden; */
}
body {
  background-color: #fbfeff;
}

/* Upper Section of Navigation */
/* Upper Section of Navigation */
header {
  background-color: white;
}
.upperNav {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  justify-content: space-evenly;
}
.menuBar {
  display: none;
}

.logo img {
  width: 175px;
}
.magnifyingGlass {
  display: none;
}

.searchBar {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: start;
  border: 1px solid black;
  border-radius: 10px;
  width: 60%;
  height: 46px;
}
.searchBar img {
  margin-left: 10px;
}
.searchBar input {
  border: none;
  width: 50%;
  height: 45px;
  font-weight: 500;
  background-color: white;
}
.searchBar input {
  outline: none;
}
.login {
  background-color: #5a4bda;
  color: white;
  padding: 0px 40px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  height: 46px;
}
.login a {
  text-decoration: none;
}
/* Lower Section of Navigation Start */
/* Lower Section of Navigation Start */
.lowerNav {
  display: flex;
  align-items: center;
  gap: 70px;
  font-weight: 500;
  margin: 10px 85px;
  font-size: 16px;
}
.lowerNav div a {
  cursor: pointer;
  color: black;
}
i {
  cursor: pointer;
}
.drpbtn {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  background-color: rgb(251, 254, 255);
  position: absolute;
  left: 6em;
  width: 16em;
  height: 16em;
  border-radius: 5px;
  box-shadow: grey 0px 0px 10px;
  color: rgb(151, 146, 146);
  top: 7.3em;
  font-size: 16px;
  cursor: pointer;
}
.dropdown-content div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 11px 15px 10px 15px;
}
.drpbtn:hover .dropdown-content {
  display: block;
}
.more-dropdown-content {
  display: none;
  background-color: rgb(251, 254, 255);
  position: absolute;
  right: 8em;
  width: 20em;
  height: 12em;
  border-radius: 5px;
  box-shadow: grey 0px 0px 10px;
  color: rgb(151, 146, 146);
  top: 7.3em;
  font-size: 16px;
}
.morefirstColumn {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  gap: 10px;
}
.moreSecondColumn {
  position: relative;
  top: -150px;
  left: 119px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  gap: 10px;
}
.moreLower {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 10px;
}
.moreLower:hover .more-dropdown-content {
  display: block;
  cursor: pointer;
}
/* Here Main Section or Hero Section Start */
/* Here Main Section or Hero Section Start */
/* Here Main Section or Hero Section Start */
/* Here Main Section or Hero Section Start */

/* Here Hero 1 Section Start */
main {
  margin-top: 20px;
}

.firstImg {
  width: 100%;
  height: 100%;
}
.secondImg {
  display: none;
}
/* Here Hero 2 Section Start */
/* Here Hero 2 Section Start */
.hero2 {
  margin-top: 50px;
  height: 500px;
}
.hero2Heading {
  font-size: 50px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  color: #5a4bda;
}
.specs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
.specsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.specsSection img {
  width: 150px;
}
.specsSection h1 {
  font-size: 35px;
  font-weight: 700;
}
.specsSection h2 {
  font-size: 30px;
  font-weight: 600;
  color: #979292;
}

/* Here Hero 3 Section Start */
.hero3 {
  background-color: rgb(234, 236, 239);
  width: 100%;
  height: 400px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.hero3Heading {
  margin-top: 75px;
}
.companyLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.companyLogo img {
  width: 250px;
}

/* Hero Hero 4 Section Start */
/* Hero Hero 4 Section Start */
/* Hero Hero 4 Section Start */
.hero4 {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.hallOfFames {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.firstCard {
  width: 350px;
  height: 425px;
  border-radius: 20px;
  box-shadow: 0 0 14px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.firstCard img {
  width: 150px;
  border-radius: 100px;
}
.firstCard h1 {
  font-size: 18px;
  font-weight: 700;
}
.firstCard p {
  font-size: 15px;
  font-weight: 400;
  padding: 0px 33px;
}

/* Here Hero 5 Section Start*/

.hero5 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subHeadingofcards {
  font-size: 15px;
  color: rgb(117 117 117);
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
}

.popularProgramme {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.popularCard {
  padding-left: 20px;
  width: 350px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 0 14px grey;
}
.popularCard img {
  width: 325px;
  height: 45%;
  margin-top: 25px;
}
.popularCard h1 {
  font-size: 22px;
  font-weight: 700;
  color: #5a4bda;
  margin-top: 10px;
}
.name {
  font-size: 15px;
  font-weight: 500;
  margin-top: 65px;
}

/* Here Hero 8 Section Start */
/* Here Hero 8 Section Start */
/* Here Hero 8 Section Start */
.hero8 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 100px;
}
.upperProduct {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lowerProduct {
  display: flex;
  align-items: center;
  justify-content: center;
}
.firstProduct {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.headingProduct {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
.subHeadingProductForPC {
  font-size: 18px;
  line-height: 29px;
  color: rgb(117, 117, 117);
  padding: 0px 63px;
  text-align: center;
}
.subHeadingProductForM {
  display: none;
}
/* Footer Section Start */
/* Footer Section Start */
/* Footer Section Start */
/* Footer Section Start */
footer {
  background-color: #1b2124;
  color: white;
  width: 100%;
  height: 550px;
}
.footer {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 0px 25px;
  padding-top: 65px;
}
.firstColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: -11px;
}
.footerLogo img {
  width: 200px;
  filter: invert();
  margin-left: -15px;
}
.footerEmail {
  display: flex;
  align-items: center;
  gap: 20px;
}
a {
  text-decoration: none;
  color: white;
}
.footerContact {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footerSocialIcons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.secondColumn {
  display: flex;
  gap: 40px;
}
.firstFooterRow {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footerHeading {
  font-size: 24px;
  font-weight: 600;
}
.orangeLine {
  color: #f7a654;
  border: 1.5px solid #f7a654;
  background-color: #f7a654;
  width: 150px;
}

.footerUtility {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.footerUtility li {
  cursor: pointer;
  list-style: none;
}
.sliderutility {
  margin-top: 68px;
}
.thirdColumn {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

/* Here Media Queries Section Start */
/* Here Media Queries Section Start */
/* Here Media Queries Section Start */

/* For Mobile */
/* For Mobile */
@media screen and (max-width: 800px) {
  /* Here Header Section Start */
  /* Here Header Section Start */
  header {
    margin: 0px;
    height: 4rem;
    width: 98vw;
    position: fixed;
    top: 0px;
    background-color: white;
  }
  .upperNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 25px;
  }
  .menuBar,
  .magnifyingGlass {
    display: block;
    cursor: pointer;
  }
  .menuBar img,
  .magnifyingGlass img {
    width: 25px;
  }
  .logo img {
    width: 150px;
  }
  .searchBar {
    display: none;
  }
  .login {
    display: none;
  }
  .lowerNav {
    display: none;
  }

  /* Here Main Poster Section Start */
  /* Here Main Poster Section Start */

  /* Here Hero 1 Section Start */
  .firstImg {
    display: none;
  }
  .secondImg {
    display: block;
    width: 98%;
    height: 100%;
    margin-top: 40px;
  }
  /* Hero 2 Section Start */
  .hero2Heading {
    font-size: 30px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    color: #5a4bda;
    letter-spacing: 1px;
  }
  .specs {
    display: flex;
    flex-direction: column;
    gap: 5 0px;
  }
  .specsSection h1 {
    font-size: 30px;
    font-weight: 600;
  }
  .specsSection h2 {
    font-size: 25px;
  }
  /* Hero 3 Section Start */
  .hero3 {
    height: 300px;
    margin-top: 525px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .forLaptopImg {
    display: none;
  }
  .companyLogo img {
    width: 200px;
  }

  /* Hero 4 Section Start */
  .hero4 {
    margin-top: 10px;
  }
  .firstCard {
    width: 75%;
    background: white;
  }
  .secondCard {
    display: none;
  }
  .thirdCard {
    display: none;
  }

  /* Hero 5 Section Start */
  .hero5 {
    margin-top: 10px;
  }
  .subHeadingofcards {
    letter-spacing: 1px;
  }
  .popularCard {
    width: 75%;
    background: white;
  }
  #changingSecond,
  #changingThird {
    display: none;
  }
  .popularCard img {
    width: 90%;
    height: 40%;
  }
  /* Hero 8 Section Start */
  .hero8 {
    margin-top: 10px;
  }
  .upperProduct {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
  }
  .lowerProduct {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
  }
  .subHeadingProductForPC {
    display: none;
  }
  .subHeadingProductForM {
    display: inline;
    font-size: 15px;
    line-height: 29px;
    color: rgb(117, 117, 117);
    text-align: center;
  }

  /* Here Footer Section Start */
  footer {
    margin-top: 10px;
    background-color: #1b2124;
    color: white;
    width: 100%;
    height: 1000px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 25px;
    padding-top: 65px;
  }
  .firstColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 0px;
  }
}
/* For Tablet  */
/* For Tablet  */
/* For Tablet  */
/* For Tablet  */
@media screen and (min-width: 801px) and (max-width: 1201px) {
  /* Here Header Section Start */
  /* Here Header Section Start */
  header {
    margin: 0px;
    height: 5rem;
    width: 98vw;
    position: fixed;
    top: 0px;
    background-color: white;
  }
  .upperNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 25px;
  }
  .menuBar,
  .magnifyingGlass {
    display: block;
    cursor: pointer;
  }
  .menuBar img,
  .magnifyingGlass img {
    width: 30px;
  }
  .searchBar {
    display: none;
  }
  .login {
    display: none;
  }
  .lowerNav {
    display: none;
  }

  /* Here Main Poster Section Start */
  /* Here Main Poster Section Start */

  /* Here Hero 1 Section Start */
  .firstImg {
    display: none;
  }
  .secondImg {
    display: block;
    width: 98%;
    height: 100%;
  }
  /* Hero 2 Section Start */
  .hero2Heading {
    font-size: 33px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    color: #5a4bda;
    letter-spacing: 1px;
  }
  .specs {
    display: block;
    margin-top: 50px;
  }
  .specsSection {
    margin-top: 20px;
  }
  /* Hero 3 Section Start */
  .hero3 {
    margin-top: 525px;
    height: 400px;
  }
  .forLaptopImg {
    display: none;
  }
  .companyLogo img {
    width: 200px;
  }

  /* Hero 4 Section Start */
  .hero4 {
    margin-top: 10px;
  }
  .firstCard,
  .secondCard {
    width: 40%;
  }
  .thirdCard {
    display: none;
  }

  /* Hero 5 Section Start */
  .hero5 {
    margin-top: 10px;
  }
  .subHeadingofcards {
    letter-spacing: 1px;
  }
  .popularCard {
    width: 37%;
    background: white;
  }

  .popularCard img {
    width: 95%;
    height: 40%;
  }

  #changingThird {
    display: none;
  }
  /* Hero 8 Section Start */
  .hero8 {
    margin-top: 10px;
  }
  .upperProduct {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
  }
  .lowerProduct {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
  }
  .subHeadingProductForPC {
    display: none;
  }
  .subHeadingProductForM {
    display: inline;
    font-size: 15px;
    line-height: 29px;
    color: rgb(117, 117, 117);
    text-align: center;
  }

  /* Here Footer Section Start */
  footer {
    margin-top: 10px;
    background-color: #1b2124;
    color: white;
    width: 100%;
    height: 1000px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 25px;
    padding-top: 65px;
  }
}
